.thumbnail{
    width: 300px; 
    display:block;
     
  }
  .search-bar {
      font-size:20px;
      margin-left:12px;
      display:block;

  }
  .video-title {
    font-family:arial
    

  }
 .video-preview{
    font-family:arial
  
  display-inline-block;
  vertical-align: top;

 }
 .pic{
    border-radius: 25px;
    display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

 }
 .youtube-title{
    font-family: romona,sans-serif;
    font-size: 12px;

 }
 .youtube-button{
    
    background:red;
    border:none;
    height: 80px;
    width: 80px;
    border-radius: 18px;
    font-weight: bold;
    font-size:15px;
    cursor:pointer;
    margin-right: 5px;
    vertical-align:top;
 }
 .reccomends
 {
    background-color: lightgrey;
 }
 .head1{
font-family: arial;
font-size: 5px;
 }
 .head2{
    font-family: arial;
    font-size: 15px;
 }
 .head3{
    font-family: arial;
    font-size: 15px;
 }
 .head4{
    font-family: arial;
    font-size: 15px;
 }
 .head5{
    font-family: arial;
    font-size: 15px;
 }
 .head6{
    font-family: arial;
    font-size: 15px;
 }
 .head7{
    font-family: arial;
    font-size: 15px;
 }